/* Mainn Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #82bfe0;
}

#main-content {
    width: 80%;
    margin: auto;  /* center */
}

#main-header {
background: #f5f5f5

}

#main-content {

}

#main-footer {
    
}
#gallery section {
    background: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

#gallery section h3 {
    text-align: center;
}
/* Navigation */

#main-nav {

}

#main-nav ul {
    padding-left: 0; /* Remove Indentation */
}

#main-nav li {
    list-style-type: none; /*Remove bullets*/
    background: #FFB6C1;
    padding: 5px;
    border-bottom: 1px solid white;
}

#main-nav a {
    text-decoration: none; /* no underline */
}

/*Typography*/
#main-header h1 {
    text-align: center;
    padding: 10px;
}

/* Larger Devices */
@media (min-width: 768px) {
    .columns {
        display: flex;
    }
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }

    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        background: transparent;
        flex: 1;
    }

    #main-nav a {
        color: darkgray;
        border-bottom: 1px solid transparent;
    }

    #main-nav a:hover {
        border-bottom: 1px solid red;
    }
}