body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

.column {
    background-color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
#main-header h1 {
    text-align: center;
    padding-left: 0;
    background-color: darkblue;
    color:white;
    border-radius: 5px; 
}

#main-header h2 {
    text-align: center;
    padding-left: 0;
    background-color: darkblue;
    color:white;
    border-radius: 5px; 
}

hr.rounded {
    border-top: 8px solid black;
    border-radius: 5px;
  }

#main-footer {
    text-align: center;
}

/* Typography*/
body {
    background-color:lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}
#main-content h2 {
    text-align: center;
}

.centered-header {
    text-align: center;
    width: 100%;
    margin: 20px 0; /* Adds vertical space around the header */
}

/* Larger Resolutions */
@media (min-width: 900px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;

    .column {
        flex-wrap: wrap;
        flex: 3;
    }
}
}