* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f6f4dc;
    margin: 0;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
}
header h1 {
    background: #f6f4dc;
    color: #4b7b86;
    padding: 15px;
}

/* NAV */
.nav-bar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bar li {
    flex: 1; /* makes all buttons equal width */
}

.nav-bar a {
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: #d88c8c;   /* pink */
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-right: 2px solid #6fa6a6; /* teal dividers */
}

.nav-bar li:first-child a {
    border-left: 2px solid #6fa6a6;  /* left outline */
}

/* Important Text Box */
.important {
    padding: 20px;
    color: #4b7b86;
    margin-left: auto
}

/* Cards */
.top-layout {
    display: flex;
    background: #f3f3dc;
    padding: 20px;
}

.important-box {
    flex: 1;
    color: #6f8c93;
    padding: 20px;
}

.right-cards {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.mini-card {
    text-align: center;
    flex-shrink: 0;
}

.mini-card h3 {
    background: #6f8c93;
    color: white;
    padding: 8px;
    width: 200px;
}

.img-box {
    width: 200px;
    height: 300px;
    background: #b9cbc5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* IDEAS SECTION */
.ideas {
    padding: 20px;
}

.idea-row-1 {
    display: flex;
    align-items: stretch;   
    margin-bottom: 15px;
    background: #5f8891;
}

.idea-row-reverse {
    flex-direction: row-reverse;
    background: #99bbbb;
}

.image-box {
    padding: 15px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.15);
}

.text-box {
    padding: 20px;
    flex: 1;
    color: white;
}

.idea-row-reverse .text-box {
    color: white;
}

/* FOOTER */
footer {
    background: #e38b8b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;   /* stack vertically */
    }

    .nav-bar a {
        border-right: none;       /* remove vertical dividers */
        border-bottom: 2px solid #6fa6a6; /* horizontal teal lines */
    }

    .nav-bar li:first-child a {
        border-top: 2px solid #6fa6a6;  /* top outline */
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: 25px;
    }

    .idea-row,
    .idea-row.reverse {
        flex-direction: column;
    }
}
